.body_contact {
  background: #313131;
  color: #fff;
  margin-bottom: 10px;
}

.body_column {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input_area_contact{
  margin-bottom: 5px;
  font-size: 10px;
}